/* Estilos generales */

body {
  margin: 0;
  background-color: #53758d14; /* Color de fondo deseado */

}

.nav-links a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: lightgray;
}

/* Estilos de la barra de navegación */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #56728f;
  color: white;
  padding: 20px 20px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.system-title {
  font-weight: bold;
  font-size: 47px;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn {
  background-color: #3195b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.btn:last-child {
  margin-right: 0;
}

/* Estilos de la tercera barra de navegación */

#consulta-bar {
  background-color: #cedbdc9c;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

#consulta-bar .system-title {
  font-size: 25px;
  font-weight: bold;
  color: #333333df;
}

/* Estilos del formulario */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -200px;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  margin-top: -100px, 65px;
}

h1 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 500px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3195b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 13px 23px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
}

/* Estilos del cuadro de búsqueda */

#search-box {
  margin-top: -200px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Estilos del cuadro de resultados */

.result-box {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
  margin-top: -200px;
}

#resultadosBusqueda {
  margin-bottom: 20px;
}




/* otros */

/* Estilos para centrar el contenedor de botones */
.center-container {
  text-align: center;
  margin-top: 20px; /* Espacio superior opcional */
}

/* Estilos para el contenido */
#contenido {
  padding: 20px; /* Espacio interior para el contenido */
}

/* Estilos personalizados para el navbar */
.navbar {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  background-color: #56728f;  /* Color de fondo */
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 25px 20px;

}
body {
  background-color: #53758d14; /* Color de fondo deseado */
}
.navbar-text {
  color: #ffffff; /* Color del texto del logo */
  font-size: 50px; /* Tamaño de la fuente del logo */
}

/* Estilos para centrar el contenido */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




/* ------------------------------------------- */
/* CSS personalizado para diseñar las tarjetas */
.custom-card {
  background-color: #6e94bf0a;
  border: 1px solid #2875a8;
  border-radius: 10px;

  padding: 50px;
  font-size: 50px;
  height: 300%; /* Ajustar la altura de los cuadros */
  width: 300px; 
  
  margin: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar contenido verticalmente */
  align-items: center; /* Centrar contenido verticalmente */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;

  flex-wrap: wrap;
  margin: 100 -50px; /* Ajustar el valor según sea necesario */
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.8rem;
  margin-top: 10px;
  color: #020202;
}

.card-text {
  font-size: 1.2rem;
  color: #555;
}

/* Estilo adicional para iconos */
.card-body .ri-3x {
  font-size: 48px;
  color: #007bff;
  margin-bottom: 10px;
}

/* Margen personalizado para separar la barra de navegación y las tarjetas */
.container {
  margin-top: 50px; /* Ajusta el valor según sea necesario */
}

/* Ajustando el diseño de la tarjeta en pantallas más pequeñas */
@media (max-width: 768px) {
  .custom-card {
    padding: 15px;
    font-size: 18px;
  }
}







