body {
    margin: 0;
}


.nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: lightgray;
}

.content {
    padding: 100px 20px; /* Ajusta el espaciado superior según el tamaño de la barra de navegación */
}



/* ... Estilos anteriores ... */

.navbar {
    display: flex;
    flex-direction: column; /* Cambio en la dirección del flujo */
    align-items: center;
    background-color: #56728f;
    color: white;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.system-title {
    font-weight: bold;
    font-size: 47px;
    margin-bottom: 10px; /* Agregar espacio debajo del texto */
    font-weight: bold; /* Agregar esta línea para hacer la letra negrita */
    margin: 5px;
    text-align: center;
}

/* ... Más estilos ... */
.btn {
    background-color: #3195b3; /* Cambiar a un color deseado */
    color: white;
    border: none;
    padding: 10px 20px; /* Aumentar el espaciado para resaltar más el botón */
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px; /* Aumentar el tamaño de la fuente */
    font-weight: bold; /* Agregar esta línea para hacer la letra negrita */
}

.btn:last-child {
    margin-right: 0;
}



/* Estilos personalizados para la tercera barra de navegación */
#consulta-bar {
    background-color: #cedbdc9c; /* Cambia el color de fondo según tus preferencias */
    width: 80%; /* Ajusta el ancho según tus preferencias */
    margin: 20px auto; /* Centra vertical y horizontalmente la barra de navegación con márgenes superior e inferior de 20px */
    padding: 10px; /* Añade espaciado interior según tus preferencias */
    text-align: center; /* Centra el texto dentro de la barra de navegación */
    border-radius: 15px; /* Añade bordes redondos con un radio de 15px */
}

/* Ajustes adicionales según tus preferencias */
#consulta-bar .system-title {
    font-size: 25px;
    font-weight: bold;
    color: #333333df;
}


       /* Estilos para el contenedor */
       .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -200px; /* Ajusta el margen superior según tus preferencias */

    }

    /* Estilos para el formulario */
    form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        text-align: center;
        margin-top: 10px; /* Cambiar este valor */
    }

    h1 {
        color: #333;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 500px; /* Ajusta el ancho según tus preferencias */
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    #resultado {
        margin-top: 20px;
    }

    /* Estilo para mover el cuadro de búsqueda hacia arriba */
    #search-box {
        margin-top: -200px; /* Puedes ajustar la cantidad de espacio superior según tus necesidades */
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        padding: 10px;
    }




    .result-box {
        border: 1px solid #ccc; /* Borde alrededor del cuadro de resultados */
        padding: 10px; /* Espacio interno alrededor de los resultados */
        background-color: #f5f5f5; /* Fondo de color para resaltar los resultados */
        margin-top: -200px; /* Espacio superior para separar de otros elementos */
    }

    


